<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#127866; Brewery Design Equipamiento Cervecero &#127866;</title>
    <link rel="stylesheet" href="../assets/css/cart_style.css">
</head>
<body>

    <header>
        
        <section class="iconsHeader">
        <img class="styleButton" src="../assets/img/imgIcons/icons8-menú-24.png" alt="Menu de Secciones">
        <img class="styleButtoncart" src="../assets/img/imgIcons/carrito-de-compras.png" alt="Pagina Principal">
        <div>
            <img class="styleButton" src="../assets/img/imgIcons/icons8-entrar-18.png" alt="Ingresar">
            <img class="styleButton" src="../assets/img/imgIcons/new-user.png" alt="Registrar">
        </div>
        </section>
        <img src="../assets/img/img header/headermobile.png" alt="Brewery Design" class="imgHeader">
    </header>

    <main>
       <h1>Tu Compra</h1>
       <li>
           
        <section class="detailproduct">
            <article class="imgProduct">
                <h4>Productos</h4>
                <figure class="fondoproduct"><img class="imgp" src="../assets/img/imgProducts/Canilla Doble Accion.jpg" alt="Conector G"></figure>
                <h6>Canilla Doble Accion TALOS</h6>
            </article>
  
            <article class="price">
                <h6 class="priceProduct">Precio $6800</h6>
                <h3>TOTAL</h3>
                <img src="../assets/img/imgIcons/icons8-basura-45.png" alt="Eliminar Producto" class="trash">     
            </article>

            <article class="controlCart">
                <input type="number"
                class="units">
                <div class="sumaYresta">
                    <img src="../assets/img/imgIcons/icons8-menos-matemáticas-2-45.png" alt="quitar">
                    <img src="../assets/img/imgIcons/icons8-plus-45.png" alt="agregar">
                </div>

                <div class="total">
                    <h1>$</h1>
                    <input type="number"
                    class="totalPrice">
                </div>

            </article> 
        </section>
        <section class="detailproduct">
            <article class="imgProduct">
                <figure class="fondoproduct"><img class="imgp" src="../assets/img/imgProducts/Conector G Talos.jpg" alt="Conector G"></figure>
                <h6>Conector G TALOS</h6>
            </article>
  
            <article class="price">
                <h6 class="priceProduct">Precio $6800</h6>
                <h3>TOTAL</h3>
                <img src="../assets/img/imgIcons/icons8-basura-45.png" alt="Eliminar Producto" class="trash">     
            </article>

            <article class="controlCart">
                <input type="number"
                class="units">
                <div class="sumaYresta">
                    <img src="../assets/img/imgIcons/icons8-menos-matemáticas-2-45.png" alt="quitar">
                    <img src="../assets/img/imgIcons/icons8-plus-45.png" alt="agregar">
                </div>

                <div class="total">
                    <h1>$</h1>
                    <input type="number"
                    class="totalPrice">
                </div>

            </article> 
        </section>
        </li>
    </main>
    
    <footer>
        <section class="footer">
            <h3>RECIBI NUESTRAS OFERTAS</h3>
            <article class="mailsend"><img src="../assets/img/img footer/email.png" alt="" width="24" height="24">
                <label for="mail"></label>
                <input 
                placeholder="exemple@exemple.com"
                type="email"
                name="mail"
                id="mail">
                <button><img src="../assets/img/imgIcons/right-arrow-black-square-button.png" alt="Enviar" height="24">
                </button>
            </article>
            <hr class="barrafooter"width="250px">
        
            <h3>SEGUINO EN</h3>
            <article>
                <img src="../assets/img/img footer/facebook.png" alt="Facebook" width="24" height="24">
                <img src="../assets/img/img footer/instagram.png" alt="Instagram" width="24" height="24">
            </article>
        
            <hr class="barrafooter"width="250px">
            <h3>COMUNICATE</h3>
            <article class="whatsapp">
                <img src="../assets/img/img footer/whatsapp.png" alt="WhatsApp" width="24" height="24">
            <h5>+5493513474681</h5>
            </article>
        
            <hr class="barrafooter"width="250px">
            <h3>VISITANOS EN</h3>
            <h5>AV EDUARDO BULNES 2584, CORDOBA CAPITAL</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.7202629972976!2d-64.15539588603889!3d-31.394275981411457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432981ca5a7aefb%3A0xf8695f7a80dab850!2sBlvd.%20Bulnes%202584%2C%20X5013%20APP%2C%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1659310940856!5m2!1ses!2sar" width="300" height="50" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
            <div class="endPage"><img src="../assets/img/Latam Logo de Cerveza Artesanal Negro Naranja (1).png" alt="Brewery Design" class="logoend">
            <div class="copy"><img src="../assets/img/img footer/copyright.png" alt="" width="30" height="30">
            <h6>copyright</h6></div></div>
    
        </section>
    </footer>

</body>    
</html>