<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#127866; Brewery Design Equipamiento Cervecero &#127866;</title>
    <link rel="stylesheet" href="../assets/css/register.css">
</head>
<body>
    <header>  
        <section class="iconsHeader">
            <img class="styleButton" src="../assets/img/imgIcons/icons8-menú-24.png" alt="Menu de Secciones">
            <img class="styleButtonregister" src="../assets/img/imgIcons/new-user.png" alt="login">
            <div>
                <a href="./index.html"><img calss="stylebutton" src="../assets/img/imgIcons/icons8-casa-25.png" alt="HOME" href="./index.html"></a>
                <a href="./login.html"><img class="styleButton" src="../assets/img/imgIcons/icons8-entrar-18.png" alt="Registrar"></a>
            </div>
        </section>
        <img src="../assets/img/img header/headermobile.png" alt="Brewery Design" class="imgHeader"></header>
    
    <main>
        <section class="registerStyle"><h1> INGRESAR </h1>
            <form action="./login.html" class="formRegister">
        
                <label for="Text"></label>
                <input 
                type="text"
                placeholder="Nombre"
                name="text"
                id="text"
                >

                <label for="Text"></label>
                <input 
                type="text"
                placeholder="Apellido"
                name="text"
                id="text"
                >

                <label for="email"></label>
                <input 
                type="email"
                placeholder="Email"
                name="email"
                id="email"
                >

                <label for="date" ></label>
                <input 
                type="date"
                placeholder="Fecha de Nacimiento"
                name="date"
                id="date"
                >
            
                <label for="password"></label>
                <input 
                type="password"
                placeholder="Ingrese su Contraseña"
                name="password"
                id="password"
                 >
            
                 <article class="condition"><label for="condition">He Leido los terminos y condiciones</label>
                 <input 
                 class="checkbox"
                 type="checkbox"
                 name="condition"
                 id="condition"
                 >
                </article>
                    
            
                 <button class="registrarme">Registrarme</button>
                
   
            </form>
            </section>
            
           
    </main>
    <h1 class="mesageWalcome">TU CHOPERA TE ESTA ESPERANDO</h1>
    <img src="../assets/img/imgMainRegister/pilon tirador.png" alt="tirador de cerveza" class="tirador">    

    
    <footer>
        <section class="footer">
            <h3>RECIBI NUESTRAS OFERTAS</h3>
            <article class="mailsend"><img src="../assets/img/img footer/email.png" alt="" width="24" height="24">
                <label for="mail"></label>
                <input 
                placeholder="exemple@exemple.com"
                type="email"
                name="mail"
                id="mail">
                <button><img src="../assets/img/imgIcons/right-arrow-black-square-button.png" alt="Enviar" height="24">
                </button>
            </article>
            <hr class="barrafooter"width="250px">
        
            <h3>SEGUINO EN</h3>
            <article>
                <img src="../assets/img/img footer/facebook.png" alt="Facebook" width="24" height="24">
                <img src="../assets/img/img footer/instagram.png" alt="Instagram" width="24" height="24">
            </article>
        
            <hr class="barrafooter"width="250px">
            <h3>COMUNICATE</h3>
            <article class="whatsapp">
                <img src="../assets/img/img footer/whatsapp.png" alt="WhatsApp" width="24" height="24">
            <h5>+5493513474681</h5>
            </article>
        
            <hr class="barrafooter"width="250px">
            <h3>VISITANOS EN</h3>
            <h5>AV EDUARDO BULNES 2584, CORDOBA CAPITAL</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.7202629972976!2d-64.15539588603889!3d-31.394275981411457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432981ca5a7aefb%3A0xf8695f7a80dab850!2sBlvd.%20Bulnes%202584%2C%20X5013%20APP%2C%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1659310940856!5m2!1ses!2sar" width="300" height="50" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
            <div class="endPage"><img src="../assets/img/Latam Logo de Cerveza Artesanal Negro Naranja (1).png" alt="Brewery Design" class="logoend">
            <div class="copy"><img src="../assets/img/img footer/copyright.png" alt="" width="30" height="30">
            <h6>copyright</h6></div></div>
    
        </section>
    </footer>
</body>
</html>