@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
* {
    margin: 0px;
}

:root{
    --colorCeleste: #a2c4e0;
}
header {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
   }

.iconsHeader {

    background-color: #193E76;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.imgHeader{
    width: 100%;
}

.styleButton {
    margin: 5px;
}

.styleButtoncart {
    width: 5vw;
    height: 5vw;
    margin-left: 21px;
    margin-top: 1vw;
}

li{
    list-style: none;
}

.detailproduct{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.fondoproduct{
    width: 15vw;
    height: 15vw;
    background-color: var(--colorCeleste);
    text-align: center;
}

.imgf{
    position: relative;
}

.imgp {
    width: 14%;
    height: auto;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 0.5%;
    
}

.imgProduct{
    text-align: center;
}



.footer {
    display: flex;
    flex-direction: column;
    background-color: #193E76;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h3{
    margin-top: 10px;
    font-family: 'Ultra', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #0a131e;
}

.mailsend{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrowend {
    background-color: #193E76;
    border-color: #193E76;
    border-style: #193E76;
    outline-style: #193E76;
    padding: 0;
  
}

.barrafooter {
    
    background-color: #0a131e;
}

 .whatsapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
 }

 h5{
    font-family: 'Ultra', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 22px;
    color: #0a131e;
 }

 iframe{
    margin-bottom: 15px;
    border-radius: 10px;
 }

 .endPage{
    display: flex;
    flex-direction: row;
 }
 
 .logoend{
    margin-left: 35%;
    width: 30%;
    height: auto;
 }

.copy{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    align-items: center;
    margin-top: 17%;

}