@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
* {
    margin: 0px;
}

:root{
    --colorCeleste: #a2c4e0;
}
header {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
   }

.iconsHeader {

    background-color: #193E76;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.imgHeader{
    width: 100%;
}

.styleButton {
    margin: 5px;
}

.styleButtoncart {
    width: 5vw;
    height: 5vw;
    margin-left: 21px;
    margin-top: 1vw;
}

h1{
    font-family: 'Actor';
    font-style: normal;
    font-weight: 600;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    
}

li{
    list-style: none;
}

.detailproduct{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 4vw;
}

.imgProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
}

h4{
    font-family: 'Actor';
    font-style: normal;
    font-size: 5vw;
    line-height: 20px;
    margin-bottom: 10%;
}

.fondoproduct{
    max-width: 28vw;
    height: auto;
    background-color: var(--colorCeleste);
}

.imgp {
    width: 92%;
    height: auto;
    position: REVERT;
    margin-left: 4%;
    margin-top: 3.5%;
    
}

h6{
    font-family: 'Actor';
    font-style: normal;
    font-size: 54%;
    line-height: 12px;
}

.price{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    width: 34%;
    align-items: flex-end;
}

.priceProduct{
    font-family: 'Actor';
    font-style: normal;
    font-size: 107%;
    max-width: 138px;
    line-height: 287%;
    margin-bottom: 23%;
   
}

.price h3{
    font-family: 'Actor';
    font-style: normal;
    font-size: 5vw;
    align-items: center;
    
    
}



.trash{
    width: 32%;
    max-width: 101px;
    height: 31%;
    margin-right: 31%;
    margin-top: 10%;
}

.controlCart{
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-top: 6vw;
    align-items: center;
}

.units{
    width: 14%;
    height: 5vw;
    max-width: 150px;
    background-color: #a2c4e0;
}

.total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vw;
}

.total h1{
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.totalPrice{
    width: 54%;
    height: 5vw;
    max-width: 150px;
    background-color: #a2c4e0;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #193E76;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h3{
    margin-top: 10px;
    font-family: 'Ultra', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #0a131e;
}

.mailsend{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrowend {
    background-color: #193E76;
    border-color: #193E76;
    border-style: #193E76;
    outline-style: #193E76;
    padding: 0;
  
}

.barrafooter {
    
    background-color: #0a131e;
}

 .whatsapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
 }

 h5{
    font-family: 'Ultra', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 22px;
    color: #0a131e;
 }

 iframe{
    margin-bottom: 15px;
    border-radius: 10px;
 }

 .endPage{
    display: flex;
    flex-direction: row;
 }
 
 .logoend{
    margin-left: 35%;
    width: 30%;
    height: auto;
 }

.copy{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    align-items: center;
    margin-top: 17%;

}