@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

* {
    margin: 0px;
}

header {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
   }

.iconsHeader {

    background-color: #193E76;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.imgHeader{
    width: 100%;
}

.styleButton {
    margin: 5px;
}

.home {
    margin-left: 29px;
}

h6 {
    font-family: 'Ultra', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #a2c4e0;
    margin-top: 15px;
    margin-bottom: 4px;
    margin-left: 45px;
 }

 .producto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fondop{
    position: relative;
}

.imgp{
    position: absolute;
}

 .buttonEnd {
    width: 30px;
    height: 30px;
    background-color: #a2c4e0;
    border-radius: 5px;
    border-color: #a2c4e0;
    outline: none;
    margin-left: 10px;
    margin-top: 5px;
}

.imgButton{
    margin-top: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #193E76;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h3{
    margin-top: 10px;
    font-family: 'Ultra', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #0a131e;
}

.mailsend{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barrafooter {
    
    background-color: #0a131e;
}

 .whatsapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
 }

 h5{
    font-family: 'Ultra', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 22px;
    color: #0a131e;
 }

 iframe{
    margin-bottom: 15px;
    border-radius: 10px;
 }

 .endPage{
    display: flex;
    flex-direction: row;
 }
 
 .logoend{
    margin-left: 35%;
    width: 30%;
    height: auto;
 }

.copy{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    align-items: center;
    margin-top: 17%;

}